<div class="selector">
  <button class="btn btn-xs on" (click)="onButtonClick('ON')">
    <span class="glyphicon glyphicon-ok"></span>
  </button>
  <button class="btn btn-xs off" (click)="onButtonClick('OFF')">
    <span class="glyphicon glyphicon-ban-circle"></span>
  </button>
  <button class="btn btn-xs maybe" (click)="onButtonClick('MAYBE')">
    <span>(</span>
    <span class="glyphicon glyphicon-ok"></span>
    <span>)</span>
  </button>
  <button class="btn btn-xs planning" (click)="onButtonClick('PLANNING')">
    <span>!</span>
  </button>
</div>