.subscribe {
  text-align: center;

  .attention-message {
    width : 100%;
    text-align: center;
    padding-bottom: 2rem;
  }

  .name-input {
    background-color: #36393f;
  }

  .btn {
    background-color : #7289da;
    color : white;
    font-size: 1.5rem;
  }

}


