.not-logged {
  text-align: center;

  .attention-message {
    width : 100%;
    text-align: center;
    padding-bottom: 2rem;
  }

  .login-button {
    background-color : #7289da;
    color : white;
    font-size: 1.5rem;
  }

}


